{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 120,
    "htmlWhitespaceSensitivity": "strict",
    "overrides": [
      {
        "files": "*.html",
        "options": {
          "parser": "html",
          "htmlWhitespaceSensitivity": "ignore"
        }
      }
    ]
  }
  